<c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>New Article</strong>
      </c-card-header>
      <c-card-body>
          <form cForm (ngSubmit)="onUpdate(f)" #f="ngForm">
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Title</label>
              <input cFormControl
                     id="exampleFormControlInput1"
                     type="text"
                     [(ngModel)]="_title"
                     name="title"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlTextarea1">Description</label>
              <textarea cFormControl 
                id="exampleFormControlTextarea1" 
                rows="3"
                ngModel
                name="description"
                [(ngModel)]="_description">
            </textarea>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary" type="submit">Update</button>
            </div>
          </form>
      </c-card-body>
    </c-card>
  </c-col>

